@font-face {
  font-family: 'Unifont';
  /* font-style: normal; */
  /* font-weight: 400; */
  src: url('fonts/unifont-14.0.01.ttf') format('truetype'),
}

* {
  /* font-family: 'Unifont', 'Noto Sans', sans-serif; */
  font-family: Unifont, sans-serif;
}
body {
  background-color: #1E1E1E;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input#query {
  width: 100%;
  background-color: #373737;
  color: #FFFFFF;
  border: 0;
  font-size: large;
}
input#query:disabled {
  color: #666666;
}
#result {
  padding-top: 1em;
  padding-bottom: 2em;
  height: 100%;
  cursor: default;
}
#result-table {
  width: 100%;
}
#statusbar {
  background-color: #BBBBBB;
  width: 100%;
  position: fixed;
  bottom: 0%;
  left: 0%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.character-cell {
  font-size: xx-large;
}
.name-cell {
  font-size: small;
}
.result-row {
  background-color: #373737;
  color: #CCCCCC;
}
.result-row:active {
  cursor: -webkit-grabbing;
  background-color: #264F78;
  color: #CCCCCC;
}


.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
